<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Authentication</title>
    <style>
      /* .form-container {
        display: none;
      } */
    </style>
  </head>
  <body>
    <div id="login-form" class="form-container">
      <h2>Login</h2>
      <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Login</button>
      </form>
    </div>

    <div id="register-form" class="form-container">
      <h2>Register</h2>
      <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Register</button>
      </form>
    </div>

    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const formType = urlParams.get("form");

      if (formType === "login") {
        document.getElementById("login-form").style.display = "block";
      } else if (formType === "register") {
        document.getElementById("register-form").style.display = "block";
      }
    </script>
  </body>
</html>
