body {
  font-family: "Arial", sans-serif;
  text-align: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 5%;
}

.form-title {
  color: rgb(202, 202, 202);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3% 3%;
  background-color: rgb(129, 129, 129);
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
  width: 20%;
  gap: 5px;
}

form label {
  margin-top: 10px;
}

form input {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

form button {
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

.error-message {
  color: rgb(150, 0, 0);
}

.success-message {
  color: rgb(3, 100, 3);
}

form a {
  color: white;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Styles pour l'entête */
header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Styles pour le pied de page */
footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
